#header{ 
    margin: 0 auto; 
    width:800px; /*DEFINE EL ANCHO DE LA SECCION DEL MENU*/ 
    font-family: Arial,Helvetica,sans-serif; 
    background-color: #EED5D8; 
    }
    #colmenu{ /*colorea la seccion del mismo color del menu*/ background-color: #EED5D8; 
    } 
    ul,ol{ 
    list-style: none; 
    } 
    .nav li a{ 
    background-color: #EED5D8; 
    color:#fff; 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.6); 
    text-decoration: none; 
    padding:15px 15px; 
    display:block; 
    } 
    .nav li a:hover{ 
    background-color: #434343; 
    } 
    .nav > li{ 
    float:left; 
    } 
    .nav li ul{ 
    display:none; 
    position: absolute; 
    min-width: 130px; 
    } 
    .nav li:hover > ul{ 
    display:block; 
    } 
    .nav li ul li{ 
    position:relative; 
    } 
    .nav li ul li ul { 
    right:-120px; 
    top:0px;
    padding:17px 18px; /*AJUSTA LOS ESPACIOS ENTRE LOS MENUS DESPLAZABLES*/ }
    